
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: url(../img/background-page.png) no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  overflow-y: scroll;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  font-weight: bold;
}

.social {
  display: flex;
  align-items: center;
}

a#link {
  text-decoration: none;
  color: white;
  text-align: center;
  justify-items: flex-start;
  margin-left: 10px
}

#up, #in {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-left: 10px;

  transition: .3s all;
}

#up {
  background-image: linear-gradient(to right, #34A2F3, #0DD5D8);
}

#in {
  background-image: linear-gradient(to right, #FE84A8, #FFA793);
}

#up:hover, #in:hover{
  transform: scale(0.98);
  filter: brightness(1.2);
}

#up:active, #in:active, .buy:active {
  transform: scale(0.8);
}

img {
  width: 50px;
}

.container > h2 {
  font-size: 32px;
  padding: 5px 0px 25px 0px;
  text-align: center;
  color: white;
}

ul li {
  list-style: none;
}

.pricing-row {
  width: 60%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
}

.pricing-col {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10% 15%;
    color: white;
    text-align: center;
    gap: 50px;

    transition: filter .4s;
}

.pricing-col p, .pricing-col h3, li{
  padding: 15px;
}

.pricing-col p {
  font-weight: 500;
}

.pricing-col h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

span {
  font-size: 12px;
  font-weight: normal;
}

.price:hover {
  border: 2px solid #E479F2;
  transition: transform .6s;
  transform: scale(1.1);
}

.buy {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #E479F2;
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  background-color: transparent;
  transition: .7s;
}

.buy:hover {
  background-image: linear-gradient(to right, #C763F2, #E479F2);
  filter: brightness(1.2);
  transform: scale(0.98);
}

body::-webkit-scrollbar {
  width: 5px;

}

body::-webkit-scrollbar-track {
  background: #1F064D; 
}

body::-webkit-scrollbar-thumb {
  background-color: #330a81;
  border-radius: 20px; 
}
